
  
  *, *::before, *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
      
  html {
    /* font-family: var(--ff-nunito-sans); */
    scroll-behavior: smooth;
  }
  body {
    /* background: var(--white); */
    /* overflow-x: hidden; */
  }
    
 
.header{
    background-color: green;
    /* display: flex; */
    flex-direction: column;
    height: 70vh;
    width: 100%;
    /* background-image: url('../images/hacker.jpg'); */
    /* justify-content: space-evenly; */
  
}
.container{
    /* width: 1250px; */
    margin: 0 auto;
}
.header__nav{
    margin-top: 100px;
    /* display: flex; */
    /* justify-content: space-between; */
    background-color: #ffffff;
    padding: 20px 20px;
    border-radius: 10px;
    /* flex-wrap: wrap; */



    
}
.header__nav__logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    /* background-color: red; */
    color: orange;
    font-size: 25px;
 
}
.header__nav__list{
    display: flex;
}
.header__nav__list__item{
    margin-right: 20px;
    
    list-style-type: none;
    outline: none;
    text-decoration: none;

}
li{
    list-style: none;
}
.button__inmuebles{
    background-color: orange;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.portada{
    /* display: flex; */
    /* flex-direction: column; */
    margin-left: 80px;

}
.portada__content{
    margin-top: 20px;
    /* width: 450px; */
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.portada__content>p{
    font-weight: bold;
    color: orange;
    font-size: 35px;
}

.portada>p{
    color: white;
    font-weight: bold;
    font-size: 23px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.portada>button{
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.servicios__container{
    /* width: 100vw; */
    
    display: grid;
    background-color: red;
    grid-template-columns: repeat(3, 1fr);
}
.servicios__container__item{
    background-color: green;
    height: 400px;
    width: 400px;
}
.servicios__container__item__contact{
    background-color: green;
    height: 400px;
    width: 400px;
}
