{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/styles/main.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__nav__movil">
          <div class="header__nav__movil__logo">
            <h2>Inmobiliaria San roman </h2> 

          </div>
          <div class="header__nav__icon">Menu</div>
        </div>
        <!-- <nav class="header__nav">
          <div class="header__nav__logo">JesfryDep@gmail.com</div>
          <ul class="header__nav__list">
            <li><a class="header__nav__list__item" href="#">Inicio</a></li>
            <li><a class="header__nav__list__item" href="#">Servicios</a></li>
            <li><a class="header__nav__list__item" href="#">Inmuebles</a></li>
            <li><a class="header__nav__list__item" href="#">Nosotros</a></li>
            <li><a class="header__nav__list__item" href="#">Conctanos</a></li>
          </ul>
          <button class="button__inmuebles">Ver Inmuebles</button>
        </nav> -->
        <section class="portada">
          <div class="portada__content">
            <p>
              Trabajamos para que alcances el sueño de tener tu PROPIA VIVIENDA
            </p>
          </div>
          <p>Asesoria consultoria y gestion inmobiliaria</p>
          <button>Contactanos</button>
        </section>
      </div>
    </header>
    <main>
      <section class="stats">
        <div class="container__stats">
        
          <div class="container__stats__item"><h3>¡Porque elegirnos?</h3></div>
          <div class="container__stats__item"><h3>3 años de experiencia</h3></div>
          <div class="container__stats__item"><h3>+ 500 clientes</h3></div>
          <div class="container__stats__item"><h3>+ 500ventas efectuadas</h3></div>
        </div>
      </section>
      <section class="servicios">
        <div class="container">
          <div class="servicios__title">Servicios</div>
          <div class="servicios__container">
            <div class="servicios__container__item">lote1</div>
            <div class="servicios__container__item">lote2</div>
            <div class="servicios__container__item">lote3</div>
            <div class="servicios__container__item">lote4</div>
            <div class="servicios__container__item">lote5</div>
            <div class="servicios__container__item">lote6</div>
            <div class="servicios__container__item__contact">
              <h2> Contactanos</h2>
              <button>Click para contacatarnos</button>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
       <div class="container__footer">
        <section class="description__footer">
          <h2>Inmobiliarias del Peru</h2>
          <div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus perferendis culpa eius dolores animi pariatur saepe. Porro omnis excepturi inventore at voluptatibus animi, quasi error a quis, dignissimos debitis quo.
            Recusandae  ore blanditiis odit quaerat ratione! Excepturi quia ducimus eligendi ipsum commodi non at corrupti est distinctio.
              provident  atibus optio ipsum esse voluptatum dol odio repellat.</p>
          </div>
        </section>
        <section class="container__links__footer">
          <ul>
            <h2>links recomendados</h2>
            <li>catalogo de inmbueble</li>
            <li>catalogo de inmbueble</li>
            <li>catalogo de inmbueble</li>
          </ul>
          <ul>
            <h2>links recomendados</h2>
            <li>catalogo de inmbueble</li>
            <li>catalogo de inmbueble</li>
            <li>catalogo de inmbueble</li>
          </ul>
          <ul>
            <h2>links recomendados</h2>
            <li>catalogo de inmbueble</li>
            <li>catalogo de inmbueble</li>
            <li>catalogo de inmbueble</li>
          </ul>

        </section>
        <section class="container__information__footer">
          <h2>Necesitas mas informacion?</h2>
       <h2>correo electronio</h2>
       <h3>jefrydep@gamil.com</h3>

        </section>
        <section class="container__footer__botton">
          <h2>INgeniera de sotware develops in the world</h2>
          <div>
            <div>
              icon facebook
            </div>
            <div>
              icon facebook
            </div>
            <div>
              icon facebook
            </div>
            <div>
              icon facebook
            </div>
          </div>

        </section>

       </div>
    </footer>
  </body>
</html>
